ruamel.yaml
pandas
packaging
scipy
scikit-learn
pyro-api
pyro-ppl
matplotlib
numba
torch<2
torch_geometric
torch_sparse
torch_scatter
ogb
numpy<2
munkres
xgboost
catboost
lightgbm
optuna
boto3
optuna-integration
setuptools==59.5.0
wandb